/* Start fonts */

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.roboto- {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.roboto--italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
  
/* End fonts */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    font-family: "Roboto", "sans-serif", serif;
    letter-spacing: 1.5px;
    color: #303030;
}
.flex {
    display: flex;
    justify-content: space-between;
}
p {
    font-size: 18px;
    font-weight: 300;
}
h1 {
    font-size: 72px;
    font-weight: 300;
}
h1 strong {
    font-weight: 900;
}
h2 {
    font-size: 60px;
    font-weight: 800;
}
h3 {
    font-size: 38px;
    font-weight: 400;
}
h4 {
    font-size: 24px;
    font-weight: 800;
}
.btn {
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    color: #303030;
    background: #16E0BD;
    padding: 15px 60px;
    border: none;
    transition: 0.2s;
}
.btn:hover {
    background: #fff;
}
.line {
    height: 1px;
    width: 95px;
    background: #fff;
    margin: 0 auto 2rem auto;
}
.text-bar {
    position: absolute;
    background: #16E0BD;
    padding: 1rem;
    width: 100%;
}
.large-text {
    font-size: 24px;
    letter-spacing: .25rem;
}

/* Start header */

header {
    background: #fff;
}
header .flex {
    padding: 2rem;
}
header p {
    font-size: 1.5rem;
}

/* End header */


/* Start hero */

#hero {
    /* background-color: #aaa; */
    padding: 8rem;
}
.hero-container {
    position: relative;
    /* background-color: lightblue; */
    margin: 0 auto;
    width: max-content;
    height: 300px;
}
.hero-container img {
   margin: 0 2rem 0 2rem;
   border-radius: 150px;
   height: 300px;
   z-index: 2;
}
.hero-container h1 {
    padding-right: 2rem;
}
.hero-container .text-bar {
    text-align: right;
    letter-spacing: .5rem;
    left: 0;
}

/* End hero */


/* Start what-i-do */

#what-i-do {
    color: white;
    text-align: center;
    background: transparent url('christopher-gower-m_HRfLhgABo-unsplash.png') 
    0% 60% no-repeat; 
    background-size: cover;
}
.what-bg {
    padding: 8rem 0;
    background: rgba(0, 0, 0, 0.8);
}
#what-i-do h2 {
    color: #14CFAE;
    padding: 1rem 0;
}
.what-i-do-container {
    max-width: 1200px;
    margin: 0 auto 6rem;
}
.what-i-do-container div {
    max-width: 31.5%;
}
.what-i-do-container div h4 {
    padding-bottom: 1.5rem;
}

.resume-btn {
    border: 2px solid #16E0BD;
}

/* End what-i-do */


/* Start who section */

#who {
    padding: 12rem 0;
    background: #f0f0f0;
}
.who-container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
#who h2 {
    margin-bottom: 1rem;
}
#who .text-bar {
    position: relative;
    padding-left: 5%;
    width: 110%;
    left: -5%;
    margin-bottom: 1rem;
    font-weight: 400;
}
.who-body {
    max-width: 600px;
}
#who img {
    position: absolute;
    right: 3rem;
    height: 400px;
    z-index: 2;
}


/* End who section */


/* Start my work section */

#my-work {
    background: #303030;
    padding: 12rem 0;
    color: #fff;
    text-align: center;
}
#my-work h2 {
    margin-bottom: 1rem;
}
#my-work h4 {
    color: #16E0BD;
    margin-bottom: 2rem;
}
.who-list {
    list-style: none;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.work-img {
    overflow: hidden;
    margin-bottom: .5rem;
}
.work-img img {
    /* border: 2px solid #303030; */
    width: 275px;
    height: 275px;
    object-fit: cover;
    opacity: 0.7;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s
}
.work-img img:hover {
    opacity: 1;
    transform: scale(1.05);
}


/* End my work section */


/* Start footer */

footer {
    padding: 6rem 0; 
    background-color: #141414;
    color: #16E0BD;
    text-align: center;
    border-top: 2px solid #363636;
}
footer h4 {
    margin-bottom: 2rem;
}
.footer-socials {
    margin: 0 auto;
    width: min-content;
    list-style: none;
    font-size: 1.8rem;
}
.footer-socials li:first-child {
    margin-left: 0;
}
.footer-socials li {
    margin-left: 3rem;
}

.icon-github,
.icon-youtube,
.icon-twitter,
.icon-instagram {
    color: #16E0BD;
    transition: 0.2s;
}
.icon-github:hover {
    color: #fff;
}
.icon-youtube:hover {
    color: #f22;
}
.icon-twitter:hover {
    color: #00a2f5;
}
.icon-instagram:hover {
    color: #f2f;
}

/* End footer */